<h5>Please log in to leave comments</h5>

<div class="card">
    <div class="card-header">
       <h4>{{post.title}}</h4>
        <p>Posted by {{post.user.username}} on {{format_date post.created_at}}</p>
    </div>
        <p class="card-body">{{post.content}}</p>
    <div class="card-header comment">
        {{> commentcard post.comments}}
    </div>
</div>

<input type="hidden" name="post-id" value="{{post.id}}"/>

{{#if logged_in}}
<div class="card">
    <h3 class="card-header"></h3>
    <form class="card-body comment-form" id="comment-form">

        <label class="form-label">Comment</label>
        <input name="comment-body" class="form-input" />

        <button type="submit" class="btn">Submit</button>
    </form>
</div>
{{/if}}

<script src="/javascript/comment.js"></script>
